/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Landing Page
----------------------------------------- */
#logo {
  background:#181819;
  /*width:200px;
  height:200px;*/
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:100px;
  position: absolute;
  top: 48%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  /*z-index: 1;*/
}

.resto{
	/*bottom: 100px;*/
	/*z-index: -999;*/
	margin-top: 42%;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
	font-size: 120%;
}

.resto ul li{
	list-style: none;
	display: inline;
	margin: 45px;
	font-family: 'Armata', sans-serif;
	
}

.resto ul li a{
	text-decoration: none;
	color: black;
}


/* -----------------------------------------
   Page 2
----------------------------------------- */

/*.p2 {
  background: #000 url('../images/koy.jpg')
center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

@media only all and (max-width: 1024px) and (max-height: 768px) {
  .p2 {	
    -moz-background-size: 1024px 768px;
    background-size: 1024px 768px;
  }

}*/


.daysel{
	/*margin-top: 50px;*/
}

